<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="--color: white;"></ion-menu-button>
    </ion-buttons>
    
    <ion-title style="color: white; font-weight: bold;">Inicio</ion-title>

<ion-buttons slot="end">
  <ion-button (click)="cambiarTema()" style="opacity: 1 !important;">
    <ion-icon 
      slot="icon-only" 
      [name]="modoTema ? 'sunny' : 'moon'" 
      style="color: white !important; font-size: 24px !important; opacity: 1 !important; visibility: visible !important;">
    </ion-icon>
  </ion-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="has-player" [style.background-color]="colorFondo" [style.color]="colorTexto">
  
  <div class="ion-padding-start ion-padding-top">
    <h2 style="font-weight: bold; font-size: 1.4em;">Álbumes Sugeridos</h2>
  </div>

  <swiper-container slides-per-view="2.3" space-between="15" style="padding: 10px 16px 20px 16px;">
    <swiper-slide *ngFor="let album of albumes" (click)="abrirAlbum(album)">
      <div style="text-align: center;">
        <img [src]="album.image" style="border-radius: 12px; box-shadow: 0 4px 10px rgba(0,0,0,0.3); width: 100%; aspect-ratio: 1/1; object-fit: cover;" />
        <ion-label style="font-size: 0.85em; font-weight: 600; margin-top: 8px; display: block;">
          {{ album.name }}
        </ion-label>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="ion-padding-start">
    <h2 style="font-weight: bold; font-size: 1.4em;">Artistas Destacados</h2>
  </div>

  <ion-list lines="full" [style.--background]="colorFondo">
    <ion-item *ngFor="let artista of artistas" (click)="abrirArtista(artista)" button detail="true" [style.--background]="colorFondo">
      <ion-avatar slot="start">
        <img [src]="artista.image" />
      </ion-avatar>
      <ion-label [style.color]="colorTexto">
        <h3 style="font-weight: bold;">{{ artista.name }}</h3>
        <p style="font-size: 0.8em; opacity: 0.7;">Maestro Compositor</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="player-bar">
    <div class="player-left">{{ formatTime(currentTime) }}</div>

    <div class="player-center">
      <button class="play-btn" (click)="togglePlayPause()">
        <ion-icon [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
      </button>
      <input type="range" min="0" [max]="duration || 0" [value]="currentTime" (input)="seekTo($any($event.target).valueAsNumber)" />
    </div>

    <div class="player-right">{{ formatTime(duration) }}</div>
  </div>
</ion-footer>