.slide-content {
  text-align: center;
  padding: 10px;

  img {
    display: block; 
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 5% auto; 
  }

  h2 {
    margin: 0;
    font-size: 35px;
    text-align: center;
  }

  p {
    font-size: 15px;
    text-align: justify;
    padding: 0 10px; 
  }
}
